doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title WooMagazine
    body
      div(class="l-container container")
        div( class = "l-head")
          div(class = "row")
            div(class = "col-xs")
              include ./module/m-userOption.pug
            div(class = "col-xs-3")
              include ./module/m-search.pug
            div(class = "col-xs-4")
              include ./module/m-cart.pug
          hr(class = "line")
          div(class = "")
            include ./module/m-titleHead.pug
          div(class = "")
            include ./module/m-social.pug
          div(class = "")
            include ./module/m-mainNavigation.pug
        div( class = "l-main")
          include ./module/m-sentenceBlock.pug
          include ./module/m-sentenceCatBestSale.pug
          include ./module/m-sentenceCatProduct.pug
          include ./module/m-sentenceCatFeatured.pug
          include ./module/m-sentenceBlog.pug
          include ./module/m-sentenceReview.pug
        div( class = "l-footer")
          include ./module/m-searchFooter.pug
          include ./module/m-footerCopyright.pug
          
          
