mixin block(name,link,image)
  div(class = "m-sentenceBlock"+ name)
    a(href=link)
      img(src=image class="m-sentenceBlock" +name+ 'Img')

  

div(class="m-sentenceBlock")
  div(class = "m-sentenceBlockJoin")
    img(src = require("./img/big_img1.jpg") class="m-sentenceBlockJoinImg")  
    button(class="m-sentenceBlockJoinButton button-green" id="m-sentenceBlockJoinButton") Join now
  div(class="row m-sentenceBlockCatLink")
      +block("Best col-xs-12 col-sm-6 col-md-6","#",require("./img/banner_bg1-1.jpg"))
      +block("Food col-xs-12 col-sm-3 col-md-3","#",require("./img/banner_bg2-1.jpg"))
      +block("Sale col-xs-12 col-sm-3 col-md-3","#",require("./img/banner_bg3-1.jpg"))

  div(class="row")
    div(class="col-xs-12 col-sm-4 col-md-4 col-lg-4")
      +block("Arrivals","#",require("./img/banner4.png"))
    div(class="col-xs-12 col-sm-4 col-md-4 col-lg-4")
      +block("Favorite","#",require("./img/banner5.png"))
    div(class="col-xs-12 col-sm-4 col-md-4 col-lg-4")
      +block("Shipping","#",require("./img/banner6.png"))
  
