div( class = "m-search m-searchFooter")
  div(class="m-searchFooterTitle") Search
  button(class="m-searchButton m-searchFooterButton")
    span(class="fa fa-search m-searchFooterIcon")
  input(type="search" class="m-searchInput m-searchFooterInput" placeholder="Search...")
  
  
