-var data = {
-  cat1 : ["Leopet-Htbt03-Dog-Bed-Different-Sizes-And-Colours-2-530x430.png","$150.00", "$152.00"],
-  cat2 : ["Andrew-James-4-Day-Meal-Automatic-Pet-Feeder-2-530x430.png","$10.00", "$12.00"],
-  cat3 : ["Easipet-Fabric-Pet-Carrier-Medium-Blue_1-530x430.png","$30.00", "$35.00"],
-  cat4 : ["Hing-Designs-The-Bone-Bowl-with-Non-Slip-Rubber-Feet-2-530x430.png","$9.00–$10.00", "$13.00–$18.00"]
-}
-//TODO need fix  for require with variable

div
  h1(class="m-sentenceCatBestSaleTitle") 
    span(class="m-sentenceCatBestSaleText") PRODUCTS 
    span ON SALE
  ul(class="row")
    each val in data
      -var imageName = val[0]
      -var priceDis = val[2] 
      -var price = val[1] 
      li(class="m-sentenceCatBestSaleBorder col-xs-12 col-sm-6 col-md-6 col-lg-6")
        img(src=("./img/" + imageName))
        span(class="m-sentenceCatBestSalePricing")
          span(class="m-sentenceCatBestSalePrice")=price
          span(class="m-sentenceCatBestSalePriceDis")=priceDis 
        button(class="button-green m-sentenceCatBestSaleButton") 
          span(class="fa fa-shopping-cart")  Add to cart
        include m-buttonCompareFav.pug
