-
-var title = "FEATURED PRODUCTS"
-var data = {
-  cat1 : ["Petown-Soft-sided-Pet-Carrier-pet-Carriers-Airline-Approved-2-530x430.png","Petown Soft Sided Pet Carrier Pet Carriers Airline Approved","$69.00",""],
-  cat2 : ["TRIXIE-39813-Traveller-Capri-I-Pet-Carrier-48-cm-2-530x430.png","Trixie 39813 Traveller Capri I Pet Carrier 48 Cm","$100.00","$112.00"],
-  cat3 : ["Leopet-KBM001-2grau-Cat-Tree-Scratching-Post-Kitten-Climbing-Excercise-530x430.png","Leopet Kbm001 2grau Cat Tree Scratching Post Kitten Climbing","$65.00",""],
-  cat4 : ["Popamazing-6-Days-Cat-Dog-Rabbit-Meal-Automatic-Pet-Feeder-6-530x430.png","Popamazing 6 Days Rabbit Meal Automatic Pet Feeder","$46.00"," "]
-}
-//TODO need fix  for require with variable

div
  h1=title
  ul(class="row")
    each val in data
      -var imageName = val[0]
      -var nameProduct = val[1]
      -var price = val[2]
      -var priceDis = val[3] 
      li(class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-sentenceCatFeaturedBorder")
        img(src=("./img/" + imageName))
        p1(class="m-sentenceCatFeaturedNameProduct")=nameProduct
        span(class="m-sentenceCatFeaturedPricing")
          span(class="m-sentenceCatFeaturedPrice")=price
          span(class="m-sentenceCatFeaturedPriceDis")=priceDis 
        button(class="button-green m-sentenceCatFeaturedButton")
          span(class="fa fa-shopping-cart")  Add to cart
