$lightGreen-color: #46b193
$lightMagenta-color: #f75259
$lightBlue-color: #4cadd7
$orange-color: #ffcc00
$black-color: #181A1F
$lightBlack-color: #222326

$device-xs: 270px
$device-xsm: 540px
$device-sm: 768px
$device-md: 992px
$device-lg: 1200px



$six-caps: 'Six Caps', sans-serif
$open-sans: 'Open Sans', sans-serif
$montserrat: 'Montserrat', sans-serif
$lato: 'Lato', sans-serif
$work-sans: 'Work Sans', sans-serif
