.m-cart
  padding-top: 0.4rem
  padding-bottom: 1rem
  padding-right: 1rem
.m-cartIcon
  position: relative
  color: $lightGreen-color
  display: block
  text-align: right
  right: 3%
.m-cartQuantity
  position: absolute
  font-size: 0.8rem
  width: 1.1rem
  height: 1.1rem
  background: white
  border-radius: 100%
  border: 1px solid black
  max-height: 1.5rem
  bottom: .6rem
  text-align: center
  line-height: 1.1rem
