.m-searchFooter
  background-color: #181A1F
  padding-bottom: 3em
  padding-left: 2em

.m-searchFooterTitle
  color: $lightGreen-color
  padding-bottom: 1em

.m-searchFooterButton
  height: 2.5em
  width: 2.5em
  color: white
  background-color: orange
  &:hover
    color: white
.m-searchFooterInput
  height: 2.5em
  width: 40%
  padding-left: 5%
