.m-sentenceBlockJoin
  position: relative


.m-sentenceBlockJoinButton
  position: absolute
  top: 50%
  left: 2%
  bottom: 50%
  right: 95%
  width: 30%
  height: 4rem
  z-index: 2
  font-size: 100%



.m-sentenceBlockJoinImg
  z-index: -1
  width: 100%

.m-sentenceBlockBest

.m-sentenceBlockFood

.m-sentenceBlockSale


.m-sentenceBlockArrivalsImg
  width: 90vw

  @media screen and (min-width: $device-sm)
    width: 90vw

  @media screen and (min-width: $device-md)
    width: 100%

  @media screen and (min-width: $device-lg)
    width: 100%


.m-sentenceBlockFavoriteImg
  width: 90vw
  @media screen and (min-width: $device-sm)
    width: 90vw

  @media screen and (min-width: $device-md)
    width: 100%

  @media screen and (min-width: $device-lg)
    width: 100%



.m-sentenceBlockShippingImg
  width: 90vw

  @media screen and (min-width: $device-sm)
    width: 90vw


  @media screen and  (min-width: $device-md)
    width: 100%

  @media screen and  (min-width: $device-lg)
    width: 100%
