.m-sentenceBlockJoin
  position: relative
  padding: 0

.m-sentenceBlockJoinButton
  position: absolute
  top: 30%
  left: 2%
  bottom: 70%
  right: 95%
  width: 35%
  height: 2.5rem
  z-index: 2
  font-size: 4.5vw;
  color: white
  background-color: $lightGreen-color
  text-transform: uppercase
  font-weight: bold
  text-align: center

.m-sentenceBlockJoinImg
  z-index: -1
  width: 120%

.m-sentenceBlockBest

.m-sentenceBlockFood

.m-sentenceBlockSale
