.m-sentenceBlockJoin
  position: relative
  padding: 0

.m-sentenceBlockJoinButton
  position: absolute
  top: 30%
  left: 2%
  bottom: 60%
  right: 95%
  width: 35%
  height: 2rem
  z-index: 2
  font-size: 100%
  color: white
  background-color: $lightGreen-color
  text-transform: uppercase
  font-weight: bold

.m-sentenceBlockJoinImg
  z-index: -1
  width: 120%

.m-sentenceBlockBest

.m-sentenceBlockFood

.m-sentenceBlockSale


// .m-sentenceBlockArrivalsImg
//   width: 90vw
// .m-sentenceBlockFavoriteImg
//   width: 90vw
// .m-sentenceBlockShippingImg
//   width: 90vw
