.m-sentenceReviewPost
  text-align: center
  padding: 0.5em
  background-color: #F9F6F7


.m-sentenceReviewImg
  border-radius: 100%
  width: 35%
  display: block
  margin: 0 auto

.m-sentenceReviewName
  padding: .5em
  color: $lightGreen-color
