.m-sentenceCatProductTitle
  font-family: $work-sans
  font-weight: 900
  font-size: 1.7rem
  text-align: center
  margin: 4rem 0

.m-sentenceCatProductText
  color: $lightGreen-color


.m-sentenceCatProductBlock
  // background-color: $lightGreen-color
  text-align: center
  margin-bottom: 2.5em
  margin: .5rem 0rem
  padding-right: 0
  padding-left: 0
  position: relative
  &:hover .m-sentenceCatProductContainerImg
    opacity: 0.8
  &:hover .m-sentenceCatProductBlockDog,
  &:hover .m-sentenceCatProductBlockCats,
  &:hover .m-sentenceCatProductBlockBirds,
  &:hover .m-sentenceCatProductBlockPets,
  &:hover .m-sentenceCatProductButtonDog,
  &:hover .m-sentenceCatProductButtonCats,
  &:hover .m-sentenceCatProductButtonBirds,
  &:hover .m-sentenceCatProductButtonPets
    background-color: grey
  &:hover .m-sentenceCatProductAnimBorder:after
      width: 100%
      height: 2px
  &:hover .m-sentenceCatProductAnimBorderBottom:before
      width: 18%
      height: 8px

.m-sentenceCatProductButton
  background-color: transparent
  border: 4px solid white
  height: 2em
  width: 40%
  margin: 10%
  color: white
  &:hover
    background-color: transparent

.m-sentenceCatProductName
  padding: 1em
  display: block
  font-size: 1.5em
  color: white
  font-weight: bold
.m-sentenceCatProductImg
  border-right: 1px solid $lightGreen-color


=m-color($color)
  background-color: $color

=m-border($border-color)
  border-right: 1px solid $border-color

.m-sentenceCatProductBlockDog
  +m-color($lightGreen-color)

.m-sentenceCatProductBlockCats
  +m-color($orange-color)

.m-sentenceCatProductBlockBirds
  +m-color($lightMagenta-color)

.m-sentenceCatProductBlockPets
  +m-color($lightBlue-color)

.m-sentenceCatProductImgDog
  +m-border($lightGreen-color)
.m-sentenceCatProductImgCats
  +m-border($orange-color)
.m-sentenceCatProductImgBirds
  +m-border($lightMagenta-color)
.m-sentenceCatProductImgPets
  +m-border($lightBlue-color)


.m-sentenceCatProductAnimBorder
  display: block
  position: relative
  top: 65%
  &:after
      background-color: $lightGreen-color
      display: block
      content: ""
      height: 0px
      width: 0%
      left: 50%
      position: absolute
      -webkit-transition: all .4s ease-in-out
      -moz--transition: all  .4s ease-in-out
      transition: all  .4s ease-in-out
      -webkit-transform: translateX(-50%)
      -moz-transform: translateX(-50%)
      transform: translateX(-50%)

.m-sentenceCatProductAnimBorderBottom
  display: block
  position: relative
  top: 65%
  z-index: 99
  &:before
      background-color: $lightGreen-color
      display: block
      content: ""
      height: 0px
      width: 0%
      left: 50%
      position: absolute
      z-index: 999
      -webkit-transition: all .4s ease-in-out
      -moz--transition: all .4s ease-in-out
      transition: all .4s ease-in-out
      -webkit-transform: translateX(-50%)
      -moz-transform: translateX(-50%)
      transform: translateX(-50%)
  &:hover:before
        width: 20%
