.m-sentenceBlog
  margin-left: .5rem
  margin-right: .5rem
  margin-bottom: 4rem

.m-sentenceBlogPost
  margin-bottom: 2rem
  margin-top: 2rem
  text-align: center
  padding-left: .5em
  padding-right: .5em


.m-sentenceBlogButton
  display: block
  width: 9rem
  margin: .5em auto

.m-sentenceBlogContainerImg
  position: relative
  overflow: hidden
  margin-bottom: 1rem
  &:hover .m-sentenceBlogImg
    transform: scale(1.1)
  &:hover .m-sentenceBlogAnimation
    opacity: 1
    width: 100%
    height: 100%
    border: 2em solid  rgba(255, 255, 255, 0.3)


.m-sentenceBlogAnimation
  position: absolute
  height: 50%
  top: 50%
  opacity: 0
  box-shadow: 0 0 70px 200px rgba(255,255,255,0.5)
  z-index: 99
  margin: auto
  height: 40%
  width: 40%
  top: 0
  bottom: 0
  left: 0
  right: 0
  transition: all 0.5s ease
  // &:hover
  //   width: 100%
  //   height: 100%
  //   border: 2em solid  rgba(255, 255, 255, 0.8)
  // &:hover .m-sentenceBlogImg
  //   transform: scale(1.1)

.m-sentenceBlogImg
  width: 90%
  transition: all 0.5s ease



.m-sentenceBlogTitle
  font-family: $work-sans
  font-weight: 900
  font-size: 1.9rem
  text-align: center
  margin: 2rem 0
.m-sentenceBlogText
  color: $lightGreen-color
.m-sentenceBlogServiceInformation
  margin: 1rem
.m-sentenceBlogDatePost
  font-family: inherit
  font-size: 2rem
  color: $lightGreen-color
  margin: 1rem
.m-sentenceBlogPostedStaff
  margin: 1rem
.m-sentenceBlogPostedStaffName
  font-size: 1.1rem
  font-weight: 900
  color: black
.m-sentenceBlogCommentsQuantity
  font-size: 1.1rem
  color: black
  font-weight: 900
  margin: 1rem
.m-sentenceBlogShortAticle
  font-size: 1.1rem
