
.m-sentenceCatFeaturedBorder
  border: 1px solid lightgrey
  &:hover
    border: 1px solid $lightGreen-color


.m-sentenceCatFeaturedPriceDis
  overflow: hidden
  text-overflow: ellipsis

.m-sentenceCatFeaturedNameProduct
  font-size: 1.5em
  text-align: center
  padding-left: 0.7em
  padding-right: 0.7em
