.m-social
  text-align: center
  margin-bottom: 3rem
// need fix of change markup
@media only screen and (min-width:768px)
  .m-social
    position: absolute
    left: 65%
    top: 15%
@media only screen and (min-width:992px)
  .m-social
    position: absolute
    left: 75%
    top: 15%


.m-socialIconEl
  display: inline-block
  padding: 1.1rem




$iconFacebook: m-socialIconElfa-facebook
$iconTwitter : m-socialIconElfa-twitter
$iconGoogleP : m-socialIconElfa-google-plus
$iconInstagram : m-socialIconElfa-instagram
$iconPinterest : m-socialIconElfa-pinterest-p

.#{$iconFacebook},
.#{$iconTwitter},
.#{$iconGoogleP},
.#{$iconInstagram},
.#{$iconPinterest}
  text-decoration: none
  color: grey
  font-size: 1.2rem
  &:hover
    color: black
