.m-social
  text-align: center

.m-socialIconEl
  display: inline-block
  margin: 5px

$iconFacebook: m-socialIconElfa-facebook
$iconTwitter : m-socialIconElfa-twitter
$iconGoogleP : m-socialIconElfa-google-plus
$iconInstagram : m-socialIconElfa-instagram
$iconPinterest : m-socialIconElfa-pinterest-p

.#{$iconFacebook},
.#{$iconTwitter},
.#{$iconGoogleP},
.#{$iconInstagram},
.#{$iconPinterest}
  text-decoration: none
  color: grey
  &:hover
    color: black 
