.m-titleHead
  text-align: center
  // padding: 0 35%
  font-family: $six-caps
  font-size: 4.28rem
  text-transform: uppercase
  font-weight: 400
  letter-spacing: 0.5rem
  padding: 1rem 4.5rem
  

.m-titleHeadText
