@import "~normalize-scss/sass/normalize";
@import "../fonts/font-awesome/scss/font-awesome.scss";
@import "grid.sass"
@import "m-button"
@import url("https://fonts.googleapis.com/css?family=Six+Caps|Open+Sans|Montserrat|Lato|Work+Sans" )

//include variable
@import "globalVariable"

html
  box-sizing: border-box
  font-size: 14px

*, *::before, *::after
  box-sizing: inherit
  margin: 0
  padding: 0

img
  width: 100%
  height: auto

ul
  padding: 0

li
  list-style-type: none

// change default normalize variable
.m-text-style-price-right
  text-align: right
  font-size: 1.5em
  color: $lightGreen-color

.m-text-style-price-left
  text-align: left
  font-size: 1.5em
  text-decoration: line-through
  color: grey
//end change default normalize variable

.l-head
  margin: 0 .7rem


.containerTitleSocial
  border-top: 1px solid lightgrey

@media only screen and (min-width:540px)
  .m-cartContainer
    order: 1
  .m-searchContainer
    order: 2

.l-container
  padding-top: 1rem



.l-footer
  background-color: #181A1F
  color: white
  padding-top: 2em

//header
@import "m-mainNavigation"
@import "m-UserOption"
@import "m-search"
@import "m-cart"
@import "m-titleHead"
@import "m-social"
//main
@import "m-sentenceBlock"
@import "m-sentenceCatBestSale"
@import "m-sentenceCatProduct"
@import "m-sentenceCatFeatured"
@import "m-sentenceBlog"
@import "m-sentenceReview"
//footer
@import "m-searchFooter"
@import "m-footerCopyright"
@import "m-buttonCompareFav"
//other block
@import "m-arrow"
