@import "~normalize-scss/sass/normalize";
@import "../fonts/font-awesome/scss/font-awesome.scss";
@import "grid.scss";
@import "m-button"

//include variable
@import "globalVariable"

html
  box-sizing: border-box
  font-size: 14px

*, *::before, *::after
  box-sizing: inherit

img
  width: 100%
  height: auto

ul
  padding: 0

li
  list-style-type: none

// change default normalize variable
.m-text-style-price-right
  text-align: right
  font-size: 1.5em
  color: $lightGreen-color

.m-text-style-price-left
  text-align: left
  font-size: 1.5em
  text-decoration: line-through
  color: grey
//end change default normalize variable

.l-container

//include m-mainNavigation

.m-mainNavigationMenu
  display: none
//include m-mainNavigation

//include m-userOption
.m-UserOptionMenu
  display: none
//include m-userOption

//include m-search
@import "m-search"
//include m-search

//include m-cart
@import "m-cart"
//include m-cart

// include m-titleHead
.m-titleHead
  text-align: center
  padding: 0 35%


.m-titleHeadText
// include m-titleHead

// include m-social
@import "m-social"
// include m-social

.m-sentenceBlockJoin
  position: relative


.m-sentenceBlockJoinButton
  position: absolute
  top: 50%
  left: 2%
  bottom: 50%
  right: 95%
  width: 30%
  height: 4rem
  z-index: 2
  font-size: 100%



.m-sentenceBlockJoinImg
  z-index: -1
  width: 100%

.m-sentenceBlockBest

.m-sentenceBlockFood

.m-sentenceBlockSale


.m-sentenceBlockArrivalsImg
  width: 90vw

  @media screen and (min-width: $device-sm)
    width: 90vw

  @media screen and (min-width: $device-md)
    width: 100%

  @media screen and (min-width: $device-lg)
    width: 100%


.m-sentenceBlockFavoriteImg
  width: 90vw
  @media screen and (min-width: $device-sm)
    width: 90vw

  @media screen and (min-width: $device-md)
    width: 100%

  @media screen and (min-width: $device-lg)
    width: 100%



.m-sentenceBlockShippingImg
  width: 90vw

  @media screen and (min-width: $device-sm)
    width: 90vw


  @media screen and  (min-width: $device-md)
    width: 100%

  @media screen and  (min-width: $device-lg)
    width: 100%
